ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
}
li a{
    display:flex;
    padding: 8px;
    background-color: white;
    text-decoration: none;
}
#list{
    display:flex;
    justify-content: right;
    align-items:center;
    padding: 20px;
    margin: 10px;
    
}
#google{
    display: flex;
    justify-content: center;
    margin: 40px;
}
#srch{
    display: flex;
    justify-content: center;
    margin: 10px;
}
input{
    border-radius: 10em;
    width: 40%;
    padding: 10px;
    margin: 10px;

}
#bottn{
    display:flex;
    padding: 0px;
    justify-content: center;
    align-items:center ;

}
#arab{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer {
    position: absolute;
    top:100;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgb(245, 245, 245);
}
a:hover{
    text-decoration: underline;
}
#tow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}